<!-- <h1>Our first App!</h1> -->
<app-header></app-header>
<main>
  <app-post-create></app-post-create>
  <app-post-list></app-post-list>
  <!-- <img src="https://i.imgur.com/sXUhxx8.gif" /> -->
  <!-- <img src="https://i.imgur.com/j8gORSg.gif" width="120" height="90" /> -->
</main>
