<!-- <textarea rows="6" [value]="newPost" #postInput></textarea>
<hr>
<button (click)="onAddPost(postInput)">Save</button>

<p>
    {{newPost}}
</p> -->
<!-- two -way binding -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        type="text"
        matInput
        name="title"
        placeholder="Title"
        ngModel
        required
        minlength="3"
        #title="ngModel"
      />
      <!-- <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        placeholder="say something!"
        ngModel
        required
        #content="ngModel"
      >
      </textarea>
      <!-- <mat-error *ngIf="content.invalid"
        >Please enter a post content.</mat-error
      > -->
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" ngModel required />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
    <button mat-raised-button color="accent" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
<p>
  {{ newPost }}
</p>
